#mainpagebody {
background-color: #222222;
color: white;
overflow: inherit;
margin: 10px;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

#registerbody {
color: white;
overflow: inherit;
background-image: url();
background-position: fixed;
background-size: cover;

::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

}


header {
position: fixed;
left: 0;
top: 0;
width: 100%;
padding: 10px;
height: 5em;
margin: auto;
background-color: #1b1b1b;
display: flex;
}

footer {
display: flex;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 5em;
background-color: #1b1b1b;
color: white;
text-align: center;

}

h1 {
font-size: 2em;
font-family: "Roboto-Regular";
font-weight: normal;
}

h3 {
padding: 5px;
margin: auto;
font-family: "Roboto-Regular";
}


section {
margin-top: 6.5em;
overflow: hidden;
max-width: 100%;
height: 100vh;
}

iframe{
overflow:hidden;
}


.register {
background-color: #353535;
border-radius: 10px;
font-family: "Roboto-Regular";
font-size: 1em;
width: 50%;
margin: auto auto 150px auto;
padding-top: 15px;
padding-bottom: 15px;
text-align: center;
}

form {
margin: auto;
display: inline-block;
width: 95%
}

input {
width: 95%;
padding: 12px 20px;
margin: 10px;
box-sizing: border-box;
}

label {
width: 95%;
margin: 15px;
box-sizing: border-box;
}

input[type=text], input[type=password] {
color: white;
background-color: #707070;
border: none;
border-radius: 4px;
font-family: "Roboto-Light";
}

input.search[type=text] {
width: 1%;
box-sizing: border-box;
border: none;
border-radius: 4px;
font-size: 16px;
background-color: #1b1b1b;
background-image: url('magnifying-glass.png');
background-position: 6px 6px;
background-repeat: no-repeat;
padding: 12px 20px 12px 25px;
transition: width 0.4s ease-in-out;
margin: auto;
}

input.search[type=text]:focus {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px 20px 12px 50px;
}

input[type=button], input[type=submit], input[type=reset] {
background-color: #d6d6d6;
border: none;
color: #222222;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;
font-family: "Roboto-Regular";
font-size: 1em;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
background-color: #c2c2c2;
border: none;
color: #222222;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;
font-family: "Roboto-Regular";
font-size: 1em;
}

input[type=text]:focus, [type=password]:focus {
  background-color: #282828;
}

.content {
margin-bottom: 4em;
width: 100%;
border: 0;
height: 100%;
overflow: hidden;

}

.menu {
margin-top: 1px;
margin-left: 10px;
padding: 0.8em;
flex: 1;
}

.menubutton {
color: white;
background-color: rgba(0, 0, 0, 0);
border: 0px solid rgba(0,0,0,0);
padding: 1em;
font-family: "Roboto-Regular";
font-size: 1em;
display: inline-block;
vertical-align: middle;
transition-duration: 0.2s;
flex: 1;
}

.menubutton:hover {
background-color: white;
color: #123747;
font-family: "Roboto-Regular";
}

.userpanel {
background-color: rgba(0, 0, 0, 0);
background-image: url(usericon.png);
background-repeat: no-repeat;
margin-top: 0.9em;
margin-right: 3em;
height: 56px;
width: 56px;
float: right;

border: 0;
}

.userpanel:hover {
background-image: url(usericon_hovered.png);
background-repeat: no-repeat;
margin-top: 0.9em;
margin-right: 3em;
height: 56px;
width: 56px;
float: right;

}


.footertitle {
font-size: 1em;
color: white;
font-family: "Roboto-Medium";
margin-top: 2em;
margin-left: 2em;
flex: 1;
flex-grow: 1;
}

.footersearch {
font-size: 1em;
color: white;
font-family: "Roboto-Medium";


flex: 2;
flex-grow: 1;
align-self: center;
}

.footeruser {
font-size: 1em;
color: white;
font-family: "Roboto-Medium";
margin-top: 2em;
margin-right: 2em;
flex: 3;
flex-grow: 1;
}


.scroll {
position: relative;
white-space: nowrap;
overflow-x: visible;
overflow-y: hidden;
}

.movies {
margin-top: 3px;
display: flex;
flex-wrap: row wrap;
flex-direction: row;
max-width: 100%;
height: 100%;
scroll-behavior: smooth;
box-sizing: border-box;
white-space: nowrap;
overflow-x: visible;
overflow-y: clip;
-webkit-overflow-scrolling: touch;
position: relative;
}

.movie {
margin-right: 10px;
transition: transform .2s;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.1), 0 0 5px 0 rgba(0,0,0,0.1);
}

.movie:hover {
transform: scale(1.02);
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 0 5px 0 rgba(0,0,0,0.2);
}

.banner {
background-image: url(banner.jpg);
height: 350px;
}

.logo {
max-width: 1338px;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 60px;
}

.movieclick {
background-color: rgb(0,0,0,0);
border: none;
color: rgb(0,0,0);

}

.modal {
display: none; /* Hidden by default */
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1; /* Sit on top */
padding-top: 50%;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
position: relative;
background-color: #222222;
margin: auto;
align-self: center;
border: 1px solid rgba(0,0,0,0);
width: 100%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.2s
}


@-webkit-keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

.close {
color: white;
float: right;
font-size: 40px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color: #1b1b1b;
color: white;
font-family: "Roboto-Medium";
}

.modal-body {
padding: 2px 16px;
font-family: "Roboto-Light";
}

.modal-footer {
padding: 2px 16px;
background-color: #1b1b1b;
color: white;
font-family: "Roboto-Medium";
}

a:link {
font-family: "Roboto-Light";
text-decoration: none;
color: white;
}
a:hover {
font-family: "Roboto-Light";
text-decoration: underline;
color: white;
}
a:visited {
font-family: "Roboto-Light";
text-decoration: none;
color: white;color: white;
}
a:active {
font-family: "Roboto-Light";
text-decoration: none;
color: white;
}

@font-face {
font-family: "Roboto-Regular";
src: url(Roboto-Regular.ttf);
}

@font-face {
font-family: "Roboto-Light";
src: url(Roboto-Light.ttf);
}

@font-face {
font-family: "Roboto-Medium";
src: url(Roboto-Medium.ttf);
}

@media screen and (max-width: 992px) and (min-width: 500px) {
header {
height: 7.5em;
}
footer {
height: 7.5em;
}
.menubutton {
font-size: 1.4em;
}
.footertitle {
font-size: 1.4em;
}
.footeruser {
font-size: 1.4em;
}
.userpanel {
padding: 1.7em;
margin-top: 2em;
}
.userpanel:hover {
padding: 1.7em;
margin-top: 2em;
}
.menu {
margin-top: 0.5em;
padding: 0.8em;
flex: 1;
}
.modal-content {
width: 100%;
}
section {
margin-top: 10em;
height: 100vh;
}

.register {
width: 90%;
}
@media screen and (max-width: 500px) {
header {
height: 10em;
}
footer {
height: 10em;
}
.menu {
margin-top: 1em;
font-size: 1.5em;
padding: 0.8em;
flex: 1;
}
.footertitle {
font-size: 1.5em;
}
.footeruser {
font-size: 1.5em;
}
.userpanel {
padding: 2em;
margin-top: 1.4em;
}
.userpanel:hover {
padding: 2em;
margin-top: 1.4em;
}
.modal-content {
width: 100%;
}
section {
margin-top: 12em;
}

.register {
width: 100%;
}
