body {
background-color: #222222;
color: white;
}

header {
position: fixed;
left: 0;
top: 0;
width: 100%;
padding: 10px;
height: 5em;
margin: auto;
background-color: #1b1b1b;
display: flex;
}

footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 5em;
background-color: #1b1b1b;
color: white;
text-align: center;
}

h1 {
font-size: 2em;
font-family: "Roboto-Regular";
font-weight: normal;
}

section {
margin-top: 7.5em;
margin-left: 1em;
}

.menu {
margin-top: 1px;
padding: 0.8em;
flex: 1;
}

.menubutton {
color: white;
background-color: rgba(0, 0, 0, 0);
border: 2px solid rgba(0,0,0,0);
padding: 1em;
font-family: "Roboto-Light";
font-size: 1em;
display: inline-block;
vertical-align: middle;
transition-duration: 0.2s;
flex: 1;
}

.menubutton:hover {
background-color: white;
color: #123747;
font-family: "Roboto-Light";
}

.userpanel {
background-image: url(usericon.png);
background-repeat: no-repeat;
margin-top: 0.9em;
height: 56px;
width: 51px;
float: right;
padding: 1em;
}

.userpanel:hover {
background-image: url(usericon_hovered.png);
background-repeat: no-repeat;
margin-top: 0.9em;
height: 56px;
width: 51px;
float: right;
padding: 1em;
}

.footertitle {
font-size: 1em;
color: white;
font-family: "Roboto-Medium";
margin-top: 2em;
margin-left: 2em;
float: left;
}

.footeruser {
font-size: 1em;
color: white;
font-family: "Roboto-Medium";
margin-top: 2em;
margin-right: 2em;
float: right;
}

.movies {
display: flex;
flex-wrap: row wrap;
flex-direction: row;
}

.movie {
height: 100%;
width: 100%;
}

@font-face {
font-family: "Roboto-Regular";
src: url(Roboto-Regular.ttf);
}

@font-face {
font-family: "Roboto-Light";
src: url(Roboto-Light.ttf);
}

@font-face {
font-family: "Roboto-Medium";
src: url(Roboto-Medium.ttf);
}

@media screen and (max-width: 992px) {
header {
height: 7.5em;
}
footer {
height: 7.5em;
}
.menubutton {
font-size: 1.4em;
}
.footertitle {
font-size: 1.4em;
}
.footeruser {
font-size: 1.4em;
}
.userpanel {
padding: 1.7em;
margin-top: 2em;
}
.menu {
margin-top: 0.5em;
padding: 0.8em;
flex: 1;
}
section {
margin-top: 10em;
margin-left: 1em;
}
}
@media screen and (max-width: 500px) {
header {
height: 10em;
}
footer {
height: 10em;
}
.menubutton {
margin-top: 2em;
font-size: 1.5em;
}
.menu {
margin-top: 1em;
padding: 0.8em;
flex: 1;
}
.footertitle {
font-size: 1.5em;
}
.footeruser {
font-size: 1.5em;
}
.userpanel {
padding: 2em;
margin-top: 1.4em;
}
section {
margin-top: 12em;
margin-left: 1em;
}
}
